<section class="values">
    <div class="container">
        <div class="values__head">
            <span class="section-eyebrow">@@eyebrow</span>
            <h2 class="values__title">@@title</h2>
            <p class="values__text">@@text</p>
        </div>
        <ul class="values__list">
            <li class="values__item">
                <span class="values__list-number">@@item1Number</span>
                <h3 class="values__list-title">@@item1Title</h3>
                <p class="values__list-text">@@item1Text</p>
            </li>
            <li class="values__item">
                <span class="values__list-number">@@item2Number</span>
                <h3 class="values__list-title">@@item2Title</h3>
                <p class="values__list-text">@@item2Text</p>
            </li>
            <li class="values__item">
                <span class="values__list-number">@@item3Number</span>
                <h3 class="values__list-title">@@item3Title</h3>
                <p class="values__list-text">@@item3Text</p>
            </li>
        </ul>
    </div>
</section>